.MessageBox {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    position: relative;
    box-sizing: border-box;
}

.supportCreativity {
    background: #ebeaed;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    position: relative;
    box-sizing: border-box;
}

.Message {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.ImageDiv {
    background: rgb(255, 255, 255);
}

.ImageDivText {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 140%;
    text-align: center;
}


.nextButton {
    background: radial-gradient(107.14% 107.14% at 50% 80.95%, #6F1AFF 0%, #C6A4FF 100%);
    box-shadow: 0px 8px 32px rgba(111, 26, 255, 0.32), inset 0px -4px 8px rgba(185, 143, 255, 0.6), inset 0px -8px 16px #4700C0;
    border-radius: 40px;
    width: 464px;
    height: 40px;
    color: white;
}

.nextButtonOnboard {
    background: radial-gradient(107.14% 107.14% at 50% 80.95%, #6F1AFF 0%, #C6A4FF 100%);
    box-shadow: 0px 8px 32px rgba(111, 26, 255, 0.32), inset 0px -4px 8px rgba(185, 143, 255, 0.6), inset 0px -8px 16px #4700C0;
    border-radius: 40px;
    color: white;
    width: 228px;
    height: 40px;
}

.bottomBorderBlue {
    background: radial-gradient(107.14% 107.14% at 50% 80.95%, #6F1AFF 0%, #C6A4FF 100%);
    border-radius: 2px;
    width: 16px;
    height: 4px;
}

.bottomBorder {
    background: #DADADA;
    border-radius: 2px;
    width: 16px;
    height: 4px;
}

.learnMore {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.8);
    /* border-bottom: 1px solid; */
}